* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$Primary-color: #ff81ae;
$Secondary-color: #ffffff;
$Tertiary-color: #ebe7e7;
$Fortiary-color: #474646;
$Backgroung-color:#00000077;

body {
  background-color: $Primary-color;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 2%;
  height: 100vh;
  width: 100vw;
  background-color: $Tertiary-color;
  
}
